<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSRiskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <system.windows.forms jitDebugging="true" />
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="assemblies\PEIDBProvider\4.1.0.0" />
        </assemblyBinding>
    </runtime>
  
  <appSettings>
    <add key="javaConnection" value="jdbc:jtds:Sqlserver://172.16.143.211:1440/DEV_riskmgr_trade;username=ictspass; password=itcspass"/>
    <add key="riskMgrConnection" value="Data Source=172.16.143.211\\sqlsvr10,1440;Initial Catalog=DEV_riskmgr_trade;"/>
    <add key="rabbitMQConnection" value="172.16.143.199:5672"/>

    <add key = "TradeCapturePath" value="C:\tc\icts\logistics\Applications\TradeCapture\TradeCapture.exe"  />
    <add key = "LogisticsPath" value="C:\tc\icts\logistics\Applications\Logistics\LogisticsShell.exe"/>
    <add key =  "DealViewerPath" value="C:\tc\icts\jms\Apps\DealViewer.service\DealViewer.exe"/>
  </appSettings>

  
  <userSettings>
    <NSRiskManager.Properties.Settings>
      <setting name="open_windows" serializeAs="String">
        <value />
      </setting>
    </NSRiskManager.Properties.Settings>
  </userSettings>
</configuration>

  




