<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>       
        <binding name="BasicHttpBinding_VaultSvc" sendTimeout="00:05:00" maxBufferSize="999999" maxReceivedMessageSize="999999"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:11111/VaultService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_VaultSvc" contract="VaultServiceReference.VaultSvc"
                name="BasicHttpBinding_VaultSvc" />
    </client>
      <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>  
<appSettings>
  <add key="RouterServiceURL" value="http://cnf01inf01:11111"/>
</appSettings>
</configuration>