<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="TestWorkbench.Properties.Settings.cnf_mgrConnectionString"
        connectionString="Data Source=CNF01INFDBS01\SQLSVR11;Initial Catalog=cnf_mgr;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
