<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApacheNMS_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ApacheNMS_Test.Properties.Settings>
            <setting name="dbms" serializeAs="String">
                <value>ORA</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=AFF01INFDBO01)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=TRADE)));User Id=ops_tracking;Password=ops_tracking;</value>
            </setting>
            <setting name="MessageServerUri" serializeAs="String">
                <value>stomp:tcp://aff01inf01:61613</value>
            </setting>
            <setting name="MessageServerUserId" serializeAs="String">
                <value>sempra.ops.gs.service</value>
            </setting>
            <setting name="MessageServerPassword" serializeAs="String">
                <value>sempra</value>
            </setting>
            <setting name="TopicList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>sempra.ops.opsTracking.summary.update</string>
                        <string>sempra.ops.opsTracking.rqmt.update</string>
                        <string>sempra.ops.opsTracking.tradeRqmtConfirm.update</string>
                        <string>sempra.ops.opsTracking.inboundDocs.update</string>
                        <string>sempra.ops.opsTracking.associatedDocs.update"</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="QueueList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>sempra.ops.opsTracking.activityAlert</string>
                        <string>sempra.ops.tradeRqmtConfirm.activityAlert</string>
                        <string>sempra.ops.inboundDocs.activityAlert</string>
                        <string>sempra.ops.associatedDocs.activityAlert</string>
                        <string>sempra.ops.extMarginNotify</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultDestination" serializeAs="String">
                <value>Topic</value>
            </setting>
            <setting name="DefaultSimpleMessage" serializeAs="String">
                <value>This is a sample text message being used to test this queue/topic.</value>
            </setting>
        </ApacheNMS_Test.Properties.Settings>
    </applicationSettings>
</configuration>