<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>ConfigFile</param-name>
        <!--<param-value>d:\jboss\jboss-eap-6.0\data\confirm.properties</param-value>-->
        <param-value>C:\Users\ifrankel\AppDev\JBoss\jboss-eap-6.0\jboss-eap-6.0\standalone\data\confirm.properties</param-value>
    </context-param>
</web-app>

