<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InboundFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InboundFileProcessor.Properties.Settings>
            <setting name="TimerIntervalMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValidFileExt" serializeAs="String">
                <value>doc,docx,htm,html,pdf,rtf,tif,txt,xls,xlsx</value>
            </setting>
            <setting name="DebugLogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeadtoolsLicenseFile" serializeAs="String">
                <value>Amphora Inc.-DOCIMG_RASPDFR175.lic</value>
            </setting>
            <setting name="LeadtoolsDeveloperKey" serializeAs="String">
                <value>5cxfXs1TnpaXbVXDIdFzk9iRWcBBLjcIoN2W3sVpvDPvoNzYNmOr1zmYg3qhCnFE</value>
            </setting>
            <setting name="SqlConnectionIntegratedSecurityString" serializeAs="String">
                <value>Server=CNF01INFDBS01\SQLSVR11;Database=cnf_mgr;integrated security=sspi;</value>
            </setting>
            <setting name="ScanDirectories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\cnf01inf01\CNF01\InboundDocs</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>D:\homeware\cnf-InboundFileProcessorService\InboundFiles\ConvertedTIFs</value>
            </setting>
            <setting name="ProcessedDirectory" serializeAs="String">
                <value>D:\homeware\cnf-InboundFileProcessorService\InboundFiles\processed</value>
            </setting>
            <setting name="FailedDirectory" serializeAs="String">
                <value>\\cnf01inf01\CNF01\InboundDocs-Failed</value>
            </setting>
            <setting name="EmailHost" serializeAs="String">
                <value>AFF01INFMAIL</value>
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailNotifyAddresses" serializeAs="String">
                <value>jvega@amphorainc.com</value>
            </setting>
            <setting name="EmailEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSenderDomain" serializeAs="String">
                <value>amphorainc.com</value>
            </setting>
            <setting name="FailedSubDirConvert" serializeAs="String">
                <value>FailedToConvert</value>
            </setting>
            <setting name="FailedSubDirUnsupported" serializeAs="String">
                <value>Unsupported</value>
            </setting>
            <setting name="DeleteTIFEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </InboundFileProcessor.Properties.Settings>
    </applicationSettings>
</configuration>