<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpsTrackingModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpsTrackingModel.Properties.Settings>
            <setting name="SummaryData" serializeAs="String">
                <value>SELECT * FROM OPS_TRACKING.V_PC_TRADE_SUMMARY WHERE FINAL_APPROVAL_FLAG = 'N'</value>
            </setting>
            <setting name="RqmtData" serializeAs="String">
                <value>SELECT * FROM OPS_TRACKING.V_PC_TRADE_RQMT WHERE FINAL_APPROVAL_FLAG = 'N' ORDER BY TRANSACTION_SEQ ASC</value>
            </setting>
            <setting name="TradeRqmtConfirm" serializeAs="String">
                <value>select * from OPS_TRACKING.V_TRADE_RQMT_CONFIRM WHERE FINAL_APPROVAL_FLAG = 'N'</value>
            </setting>
            <setting name="RqmtStatusColor" serializeAs="String">
                <value>select * from OPS_TRACKING.V_RQMT_STATUS_COLORS</value>
            </setting>
            <setting name="ColorTranslate" serializeAs="String">
                <value>select * from OPS_TRACKING.COLOR_TRANSLATE</value>
            </setting>
            <setting name="RqmtView" serializeAs="String">
                <value>select * from OPS_TRACKING.V_RQMT</value>
            </setting>
            <setting name="RqmtStatusView" serializeAs="String">
                <value>select * from OPS_TRACKING.V_RQMT_STATUS</value>
            </setting>
            <setting name="BdtaCdtyLkup" serializeAs="String">
                <value>select * from OPS_TRACKING.V_TRADE_DATA_CDTY_CODE_LKUP ORDER BY CDTY_CODE ASC</value>
            </setting>
            <setting name="BdtaCptyLkup" serializeAs="String">
                <value>select * from OPS_TRACKING.V_TRADE_DATA_CPTY_LKUP ORDER BY SHORT_NAME ASC</value>
            </setting>
            <setting name="InboundDocsView" serializeAs="String">
                <value>select * from OPS_TRACKING.V_INBOUND_DOCS where doc_status_code = 'OPEN'</value>
            </setting>
            <setting name="AssociatedDocs" serializeAs="String">
                <value>select * from OPS_TRACKING.V_ACTIVE_ASSOCIATED_DOCS</value>
            </setting>
        </OpsTrackingModel.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
