IF OBJECT_ID('tempdb..#GUI_COLOR_TEMP')IS NOT NULL
EXEC ('DROP TABLE #GUI_COLOR_TEMP')
GO
PRINT 'Startup Loading Ref Data on #GUI_COLOR_TEMP Table'
GO

CREATE TABLE #GUI_COLOR_TEMP(
	[CODE] [varchar](10) NOT NULL,
	[DELPHI_CONSTANT] [varchar](10) NULL,
	[ENUM] [numeric](2, 0) NULL
) 
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #GUI_COLOR_TEMP ([CODE], [DELPHI_CONSTANT], [ENUM]) VALUES (N'GRAY', N'$00C8D0D5', CAST(5 AS Numeric(2, 0)))
INSERT #GUI_COLOR_TEMP ([CODE], [DELPHI_CONSTANT], [ENUM]) VALUES (N'GREEN', N'$00B9F0BE', CAST(3 AS Numeric(2, 0)))
INSERT #GUI_COLOR_TEMP ([CODE], [DELPHI_CONSTANT], [ENUM]) VALUES (N'ORANGE', N'$0080CFFF', CAST(1 AS Numeric(2, 0)))

PRINT 'LOADING DATA ON GUI_COLOR TABLE';
Declare
@pkey	    varchar(20),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(CODE) FROM #GUI_COLOR_TEMP

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.GUI_COLOR WHERE CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.GUI_COLOR
				SELECT C.CODE, C.DELPHI_CONSTANT, C.ENUM
				FROM #GUI_COLOR_TEMP C
				WHERE C.CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(CODE) FROM #GUI_COLOR_TEMP WHERE CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#GUI_COLOR_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #GUI_COLOR_TEMP');
END
GO
PRINT 'LOAD REF DATA ON GUI_COLOR TABLE FINISHED'
GO





