IF OBJECT_ID('tempdb..#COLOR_TRANSLATE')IS NOT NULL
EXEC ('DROP TABLE #COLOR_TRANSLATE')
GO
PRINT 'Startup Loading Ref Data on COLOR_TRANSLATE Table'
GO

CREATE TABLE #COLOR_TRANSLATE(
	[CODE] [varchar](10) NOT NULL,
	[CS_COLOR] [varchar](20) NOT NULL
)
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #COLOR_TRANSLATE ([CODE], [CS_COLOR]) VALUES (N'GRAY', N'LightGray');
INSERT #COLOR_TRANSLATE ([CODE], [CS_COLOR]) VALUES (N'GREEN', N'LightGreen');
INSERT #COLOR_TRANSLATE ([CODE], [CS_COLOR]) VALUES (N'ORANGE', N'SandyBrown');

PRINT 'LOADING DATA ON COLOR_TRANSLATE TABLE';
Declare
@pkey	    varchar(10),
@errormsg	nvarchar(max)

BEGIN 
	
			BEGIN TRY
				MERGE ConfirmMgr.COLOR_TRANSLATE AS t
				USING #COLOR_TRANSLATE AS s
				ON (t.CODE = s.CODE)
				WHEN NOT MATCHED BY TARGET
					THEN INSERT (t.CODE, t.CS_COLOR) VALUES(s.CODE, s.CS_COLOR);
				OUTPUT $action, inserted.*;
			END TRY	
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		
		--SELECT @pkey = min(CODE) FROM #COLOR_TRANSLATE WHERE CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#COLOR_TRANSLATE')IS NOT NULL
	EXEC ('DROP TABLE #COLOR_TRANSLATE');
END
GO
PRINT 'LOAD REF DATA ON COLOR_TRANSLATE TABLE FINISHED'
GO
