IF OBJECT_ID('tempdb..#STATUS_TEMP')IS NOT NULL
EXEC ('DROP TABLE #STATUS_TEMP')
GO
PRINT 'Startup Loading Ref Data on STATUS Table'
GO

CREATE TABLE #STATUS_TEMP(
	[CODE] [varchar](10) NOT NULL,
	[DESCR] [varchar](60) NOT NULL,
	[ACTIVE_FLAG] [varchar](1) NOT NULL 
) 
  
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #STATUS_TEMP ([CODE], [DESCR], [ACTIVE_FLAG]) VALUES (N'ACPTD', N'Deemed Accepted', N'Y')
INSERT #STATUS_TEMP ([CODE], [DESCR], [ACTIVE_FLAG]) VALUES (N'APPR', N'Approved', N'Y')
INSERT #STATUS_TEMP ([CODE], [DESCR], [ACTIVE_FLAG]) VALUES (N'AUTO', N'Auto Match Returned Doc', N'Y')

PRINT 'LOADING DATA ON STATUS TABLE';
Declare
@pkey	    varchar(10),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(CODE) FROM #STATUS_TEMP;

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.STATUS WHERE CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.STATUS
				SELECT C.CODE, C.DESCR, C.ACTIVE_FLAG
				FROM #STATUS_TEMP C
				WHERE C.CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(CODE) FROM #STATUS_TEMP WHERE CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#STATUS_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #STATUS_TEMP');
END
GO
PRINT 'LOAD REF DATA ON STATUS TABLE FINISHED'
GO








