IF OBJECT_ID('tempdb..#RQMT_STATUS_TEMP')IS NOT NULL
EXEC ('DROP TABLE #RQMT_STATUS_TEMP')
GO
PRINT 'Startup Loading Ref Data on RQMT_STATUS Table'
GO

CREATE TABLE #RQMT_STATUS_TEMP(
	[RQMT_CODE] [varchar](10) NOT NULL,
	[STATUS_CODE] [varchar](10) NOT NULL,
	[ACTIVE_FLAG] [varchar](1) NOT NULL,
	[ORD] [int] NOT NULL,
	[TERMINAL_FLAG] [varchar](1) NOT NULL,
	[PROBLEM_FLAG] [varchar](1) NOT NULL,
	[GUI_COLOR_CODE] [varchar](10) NULL
)  
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #RQMT_STATUS_TEMP ([RQMT_CODE], [STATUS_CODE], [ACTIVE_FLAG], [ORD], [TERMINAL_FLAG], [PROBLEM_FLAG], [GUI_COLOR_CODE]) VALUES (N'NOCNF', N'APPR', N'Y', 2, N'Y', N'N', N'GREEN')
INSERT #RQMT_STATUS_TEMP ([RQMT_CODE], [STATUS_CODE], [ACTIVE_FLAG], [ORD], [TERMINAL_FLAG], [PROBLEM_FLAG], [GUI_COLOR_CODE]) VALUES (N'NOCNF', N'CXL', N'Y', 99, N'Y', N'N', N'GRAY')
INSERT #RQMT_STATUS_TEMP ([RQMT_CODE], [STATUS_CODE], [ACTIVE_FLAG], [ORD], [TERMINAL_FLAG], [PROBLEM_FLAG], [GUI_COLOR_CODE]) VALUES (N'NOCNF', N'OPEN', N'Y', 1, N'N', N'N', N'PURPLE')

PRINT 'LOADING DATA ON RQMT_STATUS TABLE';
Declare
@pkey	    varchar(10),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(RQMT_CODE) FROM #RQMT_STATUS_TEMP;

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.RQMT_STATUS WHERE RQMT_CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.RQMT_STATUS
				SELECT C.RQMT_CODE, C.STATUS_CODE, C.ACTIVE_FLAG, C.ORD, C.TERMINAL_FLAG, C.PROBLEM_FLAG, C.GUI_COLOR_CODE
				FROM #RQMT_STATUS_TEMP C
				WHERE C.RQMT_CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(RQMT_CODE) FROM #RQMT_STATUS_TEMP WHERE RQMT_CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#RQMT_STATUS_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #RQMT_STATUS_TEMP');
END
GO
PRINT 'LOAD REF DATA ON RQMT_STATUS TABLE FINISHED'
GO








