IF OBJECT_ID('tempdb..#DOC_TYPE_TEMP')IS NOT NULL
EXEC ('DROP TABLE #DOC_TYPE_TEMP')
GO
PRINT 'Startup Loading Ref Data on DOC_TYPE Table'
GO

CREATE TABLE #DOC_TYPE_TEMP(
	[CODE] [varchar](20) NOT NULL,
	[DESCR] [varchar](50) NOT NULL
) 
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #DOC_TYPE_TEMP ([CODE], [DESCR]) VALUES (N'CNF-BKR-RECD', N'Broker Confirm we received')
INSERT #DOC_TYPE_TEMP ([CODE], [DESCR]) VALUES (N'CNF-BKR-RET', N'Broker Paper we returned')
INSERT #DOC_TYPE_TEMP ([CODE], [DESCR]) VALUES (N'CNF-BOOKCO-RET', N'Our Confirm Returned')

PRINT 'LOADING DATA ON DOC_TYPE TABLE';
Declare
@pkey	    varchar(20),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(CODE) FROM #DOC_TYPE_TEMP

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.DOC_TYPE WHERE CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.DOC_TYPE 
				SELECT C.CODE, C.DESCR
				FROM #DOC_TYPE_TEMP C
				WHERE C.CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(CODE) FROM #DOC_TYPE_TEMP WHERE CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#DOC_TYPE_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #DOC_TYPE_TEMP');
END
GO
PRINT 'LOAD REF DATA ON DOC_TYPE TABLE FINISHED'
GO




