IF OBJECT_ID('tempdb..#RQMT_TEMP')IS NOT NULL
EXEC ('DROP TABLE #RQMT_TEMP')
GO
PRINT 'Startup Loading Ref Data on RQMT Table'
GO

CREATE TABLE #RQMT_TEMP(
	[CODE] [varchar](10) NOT NULL,
	[DESCR] [varchar](60) NOT NULL,
	[CATEGORY] [varchar](10) NULL,
	[INITIAL_STATUS] [varchar](10) NULL,
	[DISPLAY_TEXT] [varchar](20) NOT NULL ,
	[ACTIVE_FLAG] [varchar](1) NOT NULL,
	[DET_ACT_RQMT_FLAG] [varchar](1) NOT NULL,
	[EXT_WORKFLOW_NAME] [varchar](50) NULL
)  
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #RQMT_TEMP ([CODE], [DESCR], [CATEGORY], [INITIAL_STATUS], [DISPLAY_TEXT], [ACTIVE_FLAG], [DET_ACT_RQMT_FLAG], [EXT_WORKFLOW_NAME]) VALUES (N'NOCNF', N'NO CONFIRM APPROVAL', N'OPS', N'OPEN', N'No Cpty Confirm', N'Y', N'Y', NULL)
INSERT #RQMT_TEMP ([CODE], [DESCR], [CATEGORY], [INITIAL_STATUS], [DISPLAY_TEXT], [ACTIVE_FLAG], [DET_ACT_RQMT_FLAG], [EXT_WORKFLOW_NAME]) VALUES (N'VBCP', N'VERBAL CONFIRM', N'VERBL', N'PEND', N'Phone', N'Y', N'Y', NULL)
INSERT #RQMT_TEMP ([CODE], [DESCR], [CATEGORY], [INITIAL_STATUS], [DISPLAY_TEXT], [ACTIVE_FLAG], [DET_ACT_RQMT_FLAG], [EXT_WORKFLOW_NAME]) VALUES (N'XQBBP', N'EXECUTE BROKER CONFIRM - BROKER''S PAPER', N'BKR', N'EXPCT', N'Broker Paper', N'Y', N'Y', N'BROKERPAPER')

PRINT 'LOADING DATA ON RQMT TABLE';
Declare
@pkey	    varchar(10),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(CODE) FROM #RQMT_TEMP;

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.RQMT WHERE CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.RQMT
				SELECT C.CODE, C.DESCR, C.CATEGORY, C.INITIAL_STATUS, C.DISPLAY_TEXT, C.ACTIVE_FLAG, C.DET_ACT_RQMT_FLAG, C.EXT_WORKFLOW_NAME
				FROM #RQMT_TEMP C
				WHERE C.CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(CODE) FROM #RQMT_TEMP WHERE CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#RQMT_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #RQMT_TEMP');
END
GO
PRINT 'LOAD REF DATA ON RQMT TABLE FINISHED'
GO








