IF OBJECT_ID('tempdb..#INB_ATTRIB_TEMP')IS NOT NULL
EXEC ('DROP TABLE #INB_ATTRIB_TEMP')
GO
PRINT 'Startup Loading Ref Data on INB_ATTRIB Table'
GO

CREATE TABLE #INB_ATTRIB_TEMP(
	[CODE] [varchar](100) NOT NULL,
	[DESCR] [varchar](500) NULL
) 
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #INB_ATTRIB_TEMP ([CODE], [DESCR]) VALUES (N'C2', N'TEST CODE 2')
INSERT #INB_ATTRIB_TEMP ([CODE], [DESCR]) VALUES (N'CODE', N'TEST CODE')

PRINT 'LOADING DATA ON #INB_ATTRIB_TEMP TABLE';
Declare
@pkey	    varchar(20),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(CODE) FROM #INB_ATTRIB_TEMP

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.INB_ATTRIB WHERE CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.INB_ATTRIB
				SELECT C.CODE, C.DESCR
				FROM #INB_ATTRIB_TEMP C
				WHERE C.CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(CODE) FROM #INB_ATTRIB_TEMP WHERE CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#INB_ATTRIB_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #INB_ATTRIB_TEMP');
END
GO
PRINT 'LOAD REF DATA ON INB_ATTRIB TABLE FINISHED'
GO







