IF OBJECT_ID('tempdb..#CONTROL_TEMP')IS NOT NULL
EXEC ('DROP TABLE #CONTROL_TEMP')
GO
PRINT 'Startup Loading Ref Data on CONTROL_TEMP Table'
GO

CREATE TABLE #CONTROL_TEMP(
	[ID] [int] NOT NULL,
	[LAST_AWAITED_DOCS_DATETIME] [datetime2](0) NULL,
	[LAST_INBOUND_DOCS_DATETIME] [datetime2](0) NOT NULL,
) ON [PRIMARY]
GO
PRINT 'LOADING DATA ON TEMP TABLE';


PRINT 'LOADING DATA ON CONTROL TABLE';
Declare
@pkey	    int,
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(ID) FROM #CONTROL_TEMP

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.CONTROL WHERE ID = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.CONTROL 
				SELECT C.ID, C.LAST_AWAITED_DOCS_DATETIME, C.LAST_INBOUND_DOCS_DATETIME
				FROM #CONTROL_TEMP C
				WHERE C.ID = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(ID) FROM #CONTROL_TEMP WHERE ID > @pkey
	END
	IF OBJECT_ID('tempdb..#CONTROL_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #CONTROL_TEMP');
END
GO
PRINT 'LOAD REF DATA ON CONTROL TABLE FINISHED'
GO



