IF OBJECT_ID('tempdb..#RQMT_DOC_TYPE_TEMP')IS NOT NULL
EXEC ('DROP TABLE #RQMT_DOC_TYPE_TEMP')
GO
PRINT 'Startup Loading Ref Data on RQMT_DOC_TYPE Table'
GO

CREATE TABLE #RQMT_DOC_TYPE_TEMP(
	[RQMT_CODE] [varchar](10) NOT NULL,
	[SENT_FLAG] [varchar](1) NOT NULL,
	[DOC_TYPE_CODE] [varchar](20) NOT NULL
) 
GO
PRINT 'LOADING DATA ON TEMP TABLE';
INSERT #RQMT_DOC_TYPE_TEMP ([RQMT_CODE], [SENT_FLAG], [DOC_TYPE_CODE]) VALUES (N'XQCSP', N'Y', N'CNF-BOOKCO-SENT');
INSERT #RQMT_DOC_TYPE_TEMP ([RQMT_CODE], [SENT_FLAG], [DOC_TYPE_CODE]) VALUES (N'XQCSP', N'N', N'CNF-BOOKCO-RET');
INSERT #RQMT_DOC_TYPE_TEMP ([RQMT_CODE], [SENT_FLAG], [DOC_TYPE_CODE]) VALUES (N'XQCCP', N'Y', N'CNF-CPTY-RET');

PRINT 'LOADING DATA ON RQMT_DOC_TYPE TABLE';
Declare
@pkey	    varchar(10),
@errormsg	nvarchar(max)

BEGIN 
	SELECT @pkey = min(RQMT_CODE) FROM #RQMT_DOC_TYPE_TEMP;

	WHILE @pkey IS NOT NULL
	BEGIN 
		IF NOT EXISTS(SELECT 1 FROM ConfirmMgr.RQMT_DOC_TYPE WHERE RQMT_CODE = @pkey)
		BEGIN
			BEGIN TRY
				INSERT INTO ConfirmMgr.RQMT_DOC_TYPE
				SELECT C.RQMT_CODE, C.SENT_FLAG, C.DOC_TYPE_CODE
				FROM #RQMT_DOC_TYPE_TEMP C
				WHERE C.RQMT_CODE = @pkey
			END TRY
			BEGIN CATCH
				SELECT @errormsg = 'ERROR MESSAGE: ' + ERROR_MESSAGE() + ' LINE: ' + CAST(ERROR_LINE() AS nvarchar);
				THROW 51000, @errormsg, 1
			END CATCH 
		END
		SELECT @pkey = min(RQMT_CODE) FROM #RQMT_DOC_TYPE_TEMP WHERE RQMT_CODE > @pkey
	END
	IF OBJECT_ID('tempdb..#RQMT_DOC_TYPE_TEMP')IS NOT NULL
	EXEC ('DROP TABLE #RQMT_DOC_TYPE_TEMP');
END
GO
PRINT 'LOAD REF DATA ON #RQMT_DOC_TYPE_TEMP TABLE FINISHED'
GO








