<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <!--Uncomment this when you want to work with only this service so that it will host it self-->
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SoapBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="VaultService.VaultService" behaviorConfiguration="SoapBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="VaultService.IVaultService">
        </endpoint>       
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:11000/VaultService"/>
          </baseAddresses>
        </host>
      </service>      
    </services>   
      --><!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />--><!--
  </system.serviceModel>-->
</configuration>
