<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestInboundFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestInboundFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <TestInboundFileProcessor.Properties.Settings>
        <setting name="ValidFileExt" serializeAs="String">
          <value>doc,docx,htm,html,pdf,rtf,tif,txt,xls,xlsx</value>
        </setting>
        <setting name="OutputDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="ProcessedDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="FailedDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="ScanDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="ScanDirectories" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
          </value>
        </setting>
      </TestInboundFileProcessor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TestInboundFileProcessor.Properties.Settings>
            <setting name="TestFileName" serializeAs="String">
                <value>DummyText.txt</value>
            </setting>
        </TestInboundFileProcessor.Properties.Settings>
    </userSettings>
</configuration>