<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Counterparty" sendTimeout="00:02:00"/>
        <binding name="BasicHttpBinding_ConfirmationsManager" sendTimeout="00:02:00"/>
        <binding name="BasicHttpBinding_GetDocument" sendTimeout="00:05:00" maxBufferSize="999999" maxReceivedMessageSize="999999"/>
        <binding name="BasicHttpBinding_VaultSvc" sendTimeout="00:05:00" maxBufferSize="999999" maxReceivedMessageSize="999999"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://0.0.0.0:11111/ConfirmationsManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ConfirmationsManager" contract="SvcRef_ConfirmationsManager.ConfirmationsManager" name="BasicHttpBinding_ConfirmationsManager" />
      <endpoint address="http://0.0.0.0:11111/Counterparty.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Counterparty" contract="SvcRef_Counterparty.Counterparty" name="BasicHttpBinding_Counterparty" />
      <endpoint address="http://0.0.0.0:11111/GetDocument.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GetDocument" contract="SvcRef_GetDocument.GetDocument" name="BasicHttpBinding_GetDocument" />
      <endpoint address="http://0.0.0.0:11111/VaultService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_VaultSvc" contract="VaultSvcClient.VaultSvc" name="BasicHttpBinding_VaultSvc" />
    </client>
      <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>  
<appSettings>
    <add key="ExtSvcAPIBaseUrl" value="http://hou-121.mercuria.met:9001"/>
</appSettings>
</configuration>