<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VaultViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VaultViewer.Properties.Settings>
            <setting name="TestRootDir" serializeAs="String">
                <value>\\cnf01file01\CNF01\Apps\VaultViewer_Demo\SampleDocs</value>
            </setting>
            <setting name="ExtSvcAPIBaseUrl" serializeAs="String">
                <value>http://localhost:11111</value>
            </setting>
            <setting name="ExtSvcAPIUserName" serializeAs="String">
                <value>cnfsvcprd</value>
            </setting>
            <setting name="ExtSvcAPIPassword" serializeAs="String">
                <value>78ui&amp;*UI</value>
            </setting>
            <setting name="TradingSysCodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AFF</string>
                        <string>SYMPH</string>
                    </ArrayOfString>
                </value>
            </setting>
        </VaultViewer.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <!-- <binding name="BasicHttpBinding_VaultSvc" /> -->
                <binding name="BasicHttpBinding_VaultSvc" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32"
                     maxArrayLength="200000000"
                     maxStringContentLength="200000000"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cnf01inf01:11111/VaultService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_VaultSvc" contract="VaultSvc.VaultSvc"
                name="BasicHttpBinding_VaultSvc" />
        </client>
    </system.serviceModel>
</configuration>