<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_VaultSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11111/VaultService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_VaultSvc" contract="VaultServiceReference.VaultSvc"
                name="BasicHttpBinding_VaultSvc" />
        </client>
    </system.serviceModel>
</configuration>