<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestApp.Properties.Settings.ConnectionString" connectionString="Data Source=sempra.dev;Persist Security Info=True;User ID=ops_tracking;Password=ops_tracking;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Oracle.ConnectionString" value="User Id=OPS_TRACKING;Password=OPS_TRACKING;Data Source=SEMPRA.DEV;"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
