<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="CptyInfo.CptyInfo">
                <endpoint address="http://localhost:63943/GetCptyInfo.svc" binding="basicHttpBinding"
                    bindingConfiguration="" contract="CptyInfo.IGetCptyInfo" />
            </service>
        </services>
    </system.serviceModel>
</configuration>