<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Counterparty" />
                <binding name="BasicHttpBinding_ConfirmationsManager" textEncoding="utf-8" />
                <binding name="BasicHttpBinding_GetDocument" />
                <binding name="BasicHttpBinding_VaultSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://0.0.0.0:11111/Counterparty.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Counterparty" contract="SvcRef_Counterparty.Counterparty"
                name="BasicHttpBinding_Counterparty" />
            <endpoint address="http://0.0.0.0:11111/GetDocument.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_GetDocument" contract="SvcRef_GetDocument.GetDocument"
                name="BasicHttpBinding_GetDocument" />
            <endpoint address="http://0.0.0.0:11111/ConfirmationsManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ConfirmationsManager"
                contract="SvcRef_ConfirmationsManager.ConfirmationsManager"
                name="BasicHttpBinding_ConfirmationsManager" />
            <endpoint address="http://0.0.0.0:11111/VaultService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_VaultSvc" contract="VaultSvcClient.VaultSvc"
                name="BasicHttpBinding_VaultSvc" />
        </client>
    </system.serviceModel>
</configuration>